body {background-color:#fffff; color:black;}

h2 {font-family:Georgia;font-style:initial;font-size:35px;font-weight:bold;}

p {font-family:Georgia;font-size:x-large;font-weight:bold}

hr {border-color:#f00;border-style:dashed;}

.fontstyle {font-family:Georgia;font-weight:bold;font-size:larger;}
